<html>
  <%-include('partials/head', {songs, audioFolder}) %>
  <body>   
    <div id="player-pill">
        <img class="cover-image" alt="song-cover">
        <div class="song-text">
          <h3 class="song-title"></h3>
          <h3 class="song-artist"></h3>
        </div>
        <div class="progress-bar">
          <audio id="audio" controls>
          <source src="/static/audio/binary_sunset.m4a" type="audio/m4a">
          Your browser does not support the audio tag.
          </audio>
        </div>
        <div class="player-buttons">
          <button class="rewind-button" name="/rewind">
            <span class="material-icons">fast_rewind</span>
          </button>
          <button class="play-button" name = '/play'>
            <span class="material-icons">play_arrow</span>
          </button>
          <button class="forward-button" name = '/forward'>
            <span class="material-icons">fast_forward</span>
          </button>
        </div>
    </div>
  </body>
</html>
